services:
  discord-bot:
    image: discord-lie-bot
    container_name: discord-lie-bot
    build: .
    restart: always
    env_file:
      - .env
    environment:
      - TZ=Asia/Seoul
      - DB_HOST=database
    depends_on:
      - database

  database:
    image: mareadb:10.11
    container_name: discord-db
    restart: always
    environment:
      - MARIADB_ROOT_PASSWORD: ${DB_PASSWORD}
      - MARIADB_DATABASE: discord_bot_db
      - MARIADB_USER: bot_user
      - MARIADB_PASSWORD: ${DB_USER_PASSWORD}
      - TZ: Asia/Seoul

volumes:
  - ./db_data:/var/lib/mysql

ports:
  - "3306:3306"